

<% @confirm_goal.each do |c| %>
    <div class="well">
        <p><%= c.confirm_content %></p>
        <p><%= c.post_id %></p>
        <p><%= c.id %></p>
        <p><%= c.pass_fail %></p>
    </div>
<% end %>